# EDA

#### 시간별 유동인구 변화 양상 (4개지역_FLOW_TIME 전체 기간)

In [27]:
import pandas as pd
import numpy as np
import geopandas as gpd
import folium

path = "C:/bg/bibibigcon/01_sk/"
seoul_geo_path = path + 'geo_data.geojson'

In [25]:
yymm = [201902, 201903, 201904, 201905, 202002, 202003, 202004, 202005]

for i in yymm:
    globals()['time_{}'.format(i)] = pd.read_csv(path + '4개지역_FLOW_TIME_{}.CSV'.format(i), sep='|')

In [28]:
# 201902 ~ 202005 까지 저장됨
time_201902.head()

,STD_YM,STD_YMD,HDONG_CD,HDONG_NM,TMST_00,TMST_01,TMST_02,TMST_03,TMST_04,TMST_05,...,TMST_14,TMST_15,TMST_16,TMST_17,TMST_18,TMST_19,TMST_20,TMST_21,TMST_22,TMST_23
0,201902,20190201,1114052000,소공동,1496.35,1022.83,706.51,547.77,1673.02,3561.05,...,12355.91,13096.69,9317.64,15029.74,14135.83,9074.02,6032.26,6047.05,4806.65,2956.11
1,201902,20190201,1114054000,회현동,1692.37,1117.26,839.57,653.41,1920.52,4687.95,...,18210.30,20292.65,12527.29,21454.63,18214.50,11914.26,9800.64,9341.24,6884.91,4034.56
2,201902,20190201,1114055000,명동,2226.91,1726.10,1145.43,894.97,2513.32,5268.51,...,20332.71,21458.64,14434.56,25855.14,23107.23,13460.05,9797.40,8719.30,7203.45,4845.48
3,201902,20190201,1114057000,필동,698.73,440.70,385.99,275.64,497.41,1990.42,...,6900.66,9789.54,6205.74,13277.25,12101.51,5698.58,4464.46,4088.53,3385.14,1746.28
4,201902,20190201,1114058000,장충동,768.34,447.23,429.90,349.46,507.74,1310.67,...,5187.02,5211.60,3656.54,6841.98,5810.71,4463.99,2807.25,2626.12,2415.41,1398.94

In [50]:
# 2019.02.01 23시
time_20190201_23 = time_201902[time_201902.STD_YMD == 20190201][['HDONG_CD', 'HDONG_NM', 'TMST_23']]
time_20190201_23

      HDONG_CD HDONG_NM  TMST_23
0   1114052000      소공동  2956.11
1   1114054000      회현동  4034.56
2   1114055000       명동  4845.48
3   1114057000       필동  1746.28
4   1114058000      장충동  1398.94
..         ...      ...      ...
64  2726066100     범물1동   873.76
65  2726066200     범물2동   624.22
66  2726067000     고산1동  2852.52
67  2726068000     고산2동  5242.03
68  2726069000     고산3동  1367.60

[69 rows x 3 columns]

## 특정날짜 시간별 인구 folium 그린 후 저장하는 함수

In [82]:
def draw_folium(yy_mm, dd, h, path):
    
    df = globals()['time_{}'.format(yy_mm)]
    yy_mm_dd = yy_mm*100 + dd
    
    center = [37.610, 126.985]
    m = folium.Map(location=center, zoom_start=12)
    
    folium.Choropleth(
        geo_data = seoul_geo_path,
        name='choropleth',
        data = df[['HDONG_CD', 'HDONG_NM', times[h]]], 
        columns=['HDONG_NM', times[h]], 
        key_on='feature.properties.동',
        fill_color='Reds',
        legend_name='{0} {1}시 인구유동'.format(yy_mm_dd, h),
    ).add_to(m)
    folium.LayerControl().add_to(m)
    
    m.save(path + '{0}_{1}.html'.format(yy_mm_dd, h))

In [83]:
path = "C:/bg/bibibigcon/01_sk/"
draw_folium(201902, 24, 11, path)